//-- Local Variables Section

// General
$button-padding-y: .58em !default;
$button-padding-x: 3.1em !default;



//-- Default Styles Section
.btn {
  display: inline-block;
  position: relative;
  padding: $button-padding-y $button-padding-x;
  transform: translateZ(0);
  transition: all .35s;
  border: 0;
  border-radius: 3px;
  outline: none;
  background: {
    color: transparent;
    image: none;
  }
  color: $gray-darker;
  font: {
    size: 14px;
    weight: 400;
  }
  white-space: nowrap;
  box-shadow: none;
  vertical-align: middle;
  text: {
    decoration: none;
    align: center;
  }
  box-sizing: border-box;
  user-select: none;
  outline: none !important;

  &:hover,
  &.hover {cursor: pointer;}

  &.disabled {pointer-events: none;}

  &.btn--accent {
    background-color: $accent;
    color: $white;
    &:hover {background-color: $primary;}
  }
}
