//-- Local Variables Section
$m-proceeding-checkout-item-border: 1px solid $gray-light !default;



//-- Default Styles Section
.m__proceeding-checkout {margin-bottom: 80px;}

.m__proceeding-checkout__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m__proceeding-checkout__list-item {
  position: relative;
  margin-right: 10px;
  margin-bottom: 0;
  padding: 10px 10px 10px 30px;
  border: {
    top: $m-proceeding-checkout-item-border;
    bottom: $m-proceeding-checkout-item-border;
  }
  background-color: $white;
  user-select: none;
  pointer-events: none;

  &::before,
  &::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    transform: translateY(-50%) rotate(45deg);
    border-top: $m-proceeding-checkout-item-border;
    border-right: $m-proceeding-checkout-item-border;
    border-top-right-radius: 4px;
    content: '';
    user-select: none;
    pointer-events: none;
  }

  &::before {
    left: -16px;
    background-color: $gray-lighter;
  }

  &::after {
    right: -16px;
    background-color: $white;
    z-index: 1;
  }

  &:first-child {
    padding-left: 15px;
    border: {
      left: $m-proceeding-checkout-item-border;
      top-left-radius: 4px;
      bottom-left-radius: 4px;
    }
    &::before {display: none;}
  }

  &:last-child {
    margin-right: 0;
    padding-right: 15px;
    border: {
      right: $m-proceeding-checkout-item-border;
      top-right-radius: 4px;
      bottom-right-radius: 4px;
    }
    &::after {display: none;}
  }

  &.is-active {
    border-color: $primary;
    background-color: transparent;

    &::before,
    &::after {border-color: $primary;}

    &::after {background-color: transparent;}

    .m__proceeding-checkout__list-item-caption
    {color: $primary;}
  }
}

.m__proceeding-checkout__list-item-caption {
  position: relative;
  white-space: nowrap;
  z-index: 9;

  .icon {
    margin-right: 5px;
    font-size: 18px;
  }
}



// -- Media
@media #{$tablet-port} {

  .m__proceeding-checkout {margin-bottom: 40px;}
}


@media #{$mobile-land} {

  .m__proceeding-checkout__list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .m__proceeding-checkout__list-item {
    width: 45%;
    margin-bottom: 10px;
    padding: 5px 5px 5px 25px;

    &::before,
    &::after {
      width: 26px;
      height: 26px;
    }

    &::before {left: -13px;}
    &::after  {right: -13px;}

    &:first-child {
      padding-left: 25px;
      &::before {display: block;}
    }
    &:last-child  {
      padding-right: 25px;
      &::after {display: block;}
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .m__proceeding-checkout__list-item-caption {
    font-size: 14px;

    .icon {font-size: 16px;}
  }

}

@media #{$mobile-port} {

  .m__proceeding-checkout__list-item-caption {
    font-size: 12px;
  }
}
