extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Components'
  - var menuTitle = 'Index'

//- Page Content
block content

  .container

    include modules/proceeding_checkout

    section.s__tarif-plan

      h1.s__tarif-plan__title.text-center

        | Select a plan for your trial

        span.checkout-tooltip.d-iline-block.ml-3.py-1.text-lg(data-toggle="tooltip" data-placement="top" title="This is a tooltip")

          i.icon.icon-info

      form.s__tarif-plan__inner

        ul.s__tarif-plan__list.list-unstyled.row

          li.s__tarif-plan__list-item.col-md-3.col-sm-6

            article.s__tarif-plan__article

              label.s__tarif-plan__article__inner

                .s__tarif-plan__article__head

                  h2.s__tarif-plan__article__title.mb-0

                    | Essentials

                    span.text-lg.font-weight-bold &trade;

                .s__tarif-plan__article__body

                  ul.s__tarif-plan__article__props

                    li Up to 10 users

                    li Toll-free or local number

                    li 100 toll-free min/mo

                    li 4 people per video meeting

                  .s__tarif-plan__article__price

                    h3.mb-3 Price after the trial

                    h4 from <span class="font-weight-bold">$ 44.99</span> /user/month

                    .s__tarif-plan__article__check

                      .form-group

                        label.form-check.form-check--radio

                          .form-check-wrapper

                            input.form-check-input(type="radio" name="radio-static")

                            span.form-check-checkmark

                      .s__tarif-plan__article__check--submit

                        .text-center

                          span Select this plan

                        button.btn.btn--accent Continue

          li.s__tarif-plan__list-item.col-md-3.col-sm-6

            article.s__tarif-plan__article

              label.s__tarif-plan__article__inner

                .s__tarif-plan__article__head

                  h2.s__tarif-plan__article__title.mb-0

                    | Standart

                    span.text-lg.font-weight-bold &trade;

                .s__tarif-plan__article__body

                  ul.s__tarif-plan__article__props

                    li Unlimited users

                    li Toll-free or local number

                    li 1,000 toll-free min/mo

                    li 4 people per video meeting

                    li Unlimited internet fax

                  .s__tarif-plan__article__price

                    h3.mb-3 Price after the trial

                    h4 from <span class="font-weight-bold">$ 44.99</span> /user/month

                    .s__tarif-plan__article__check

                      .form-group

                        label.form-check.form-check--radio

                          .form-check-wrapper

                            input.form-check-input(type="radio" name="radio-static")

                            span.form-check-checkmark

                      .s__tarif-plan__article__check--submit

                        .text-center

                          span Select this plan

                        button.btn.btn--accent Continue

          li.s__tarif-plan__list-item.col-md-3.col-sm-6.is-active

            .s__tarif-plan__list-item__bage Most popular

            article.s__tarif-plan__article

              label.s__tarif-plan__article__inner

                .s__tarif-plan__article__head

                  h2.s__tarif-plan__article__title.mb-0

                    | Premium

                    span.text-lg.font-weight-bold &trade;

                .s__tarif-plan__article__body

                  ul.s__tarif-plan__article__props

                    li Unlimited users

                    li Toll-free or local number

                    li 1,500 toll-free min/mo

                    li 50 people per video meeting

                    li Unlimited internet fax

                  .s__tarif-plan__article__price

                    h3.mb-3 Price after the trial

                    h4 from <span class="font-weight-bold">$ 44.99</span> /user/month

                    .s__tarif-plan__article__check

                      .form-group

                        label.form-check.form-check--radio

                          .form-check-wrapper

                            input.form-check-input(type="radio" name="radio-static" checked)

                            span.form-check-checkmark

                      .s__tarif-plan__article__check--submit

                        .text-center

                          span Select this plan

                        button.btn.btn--accent Continue

          li.s__tarif-plan__list-item.col-md-3.col-sm-6

            article.s__tarif-plan__article

              label.s__tarif-plan__article__inner

                .s__tarif-plan__article__head

                  h2.s__tarif-plan__article__title.mb-0

                    | Ultimate

                    span.text-lg.font-weight-bold &trade;

                .s__tarif-plan__article__body

                  ul.s__tarif-plan__article__props

                    li Unlimited users

                    li Toll-free or local number

                    li 2,500 toll-free min/mo

                    li 75 people per video meeting

                    li Unlimited internet fax

                    li Automatic call recording

                    li Voicemail-to-text

                  .s__tarif-plan__article__price

                    h3.mb-3 Price after the trial

                    h4 from <span class="font-weight-bold">$ 44.99</span> /user/month

                    .s__tarif-plan__article__check

                      .form-group

                        label.form-check.form-check--radio

                          .form-check-wrapper

                            input.form-check-input(type="radio" name="radio-static")

                            span.form-check-checkmark

                      .s__tarif-plan__article__check--submit

                        .text-center

                          span Select this plan

                        button.btn.btn--accent Continue