// Site Footer

footer.site__footer

  .site__footer__inner.container

    .col-lg-9.mx-auto.text-center

      h2.site__footer-title.text-white.mb-3 A complete phone system

    .row.justify-content-center.px-4

      .col-lg-3.col-sm-4

        ul.site__footer__features-list.list-unstyled
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem, ipsum
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem ipsum dolor sit amet.
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem, ipsum dolor.
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem, ipsum
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, facilis.
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem ipsum dolor sit amet.
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit.

      .col-lg-3.col-sm-4

        ul.site__footer__features-list.list-unstyled
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem, ipsum
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem ipsum dolor sit amet.
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem, ipsum dolor.
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem, ipsum
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, facilis.
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem ipsum dolor sit amet.
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit.

      .col-lg-3.col-sm-4

        ul.site__footer__features-list.list-unstyled
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem, ipsum
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem ipsum dolor sit amet.
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem, ipsum dolor.
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem, ipsum
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, facilis.
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem ipsum dolor sit amet.
          li.mb-3
            i.icon.icon-checkmark.mr-2
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit.

    .col-lg-9.mx-auto.text-center

      p.mt-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium?