// Site Header

header.site__header

  .container

    .row.justify-content-between.align-items-center

      .col-md-6.col-4

        .header__logo

          img(src="img/logo.jpg").img-fluid

      .col-md-6.col-8

        .header__contacts

          ul.header__contacts-list.list-unstyled

            li.header__contacts-list__item

              a.header__contacts-list__item-phone(href="tel: 7783238486") 778-323-8486

            li.header__contacts-list__item.d-sm-block.d-none

              a.text-black(href="#")

                i.icon.icon-whatsapp.mr-2.text-lg.text-accent

                | Sales Chat