//-- Global Typography Styles

// Local Variables Section
$font-size-base:               16px !default;
$line-height-base:             1.5  !default;

$font-size-lead:               24px !default;
$font-size-xl:                 20px !default;
$font-size-lg:                 18px !default;
$font-size-md:                 14px !default;
$font-size-sm:                 12px !default;
$font-size-xs:                 10px !default;

$font-size-h1:                 22px !default;
$font-size-h2:                 20px !default;
$font-size-h3:                 16px !default;
$font-size-h4:                 16px !default;
$font-size-h5:                 14px !default;
$font-size-h6:                 12px !default;

$headings-color:               $gray-darker !default;


// Styles Section

// Body
body {
  color: $gray-dark;
  font: {
    family: $font-family-body;
    size: $font-size-base;
  }
  line-height: $line-height-base;
}

html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $headings-color;
  font: {
    family: $font-family-headings;
    style: normal;
  }
}

h1, .h1 {
  font-size: $font-size-h1;
  font-weight: 400;
  line-height: $line-height-base;

  @media #{$tablet-port} {
    font-size: floor($font-size-h1 * .9);
  }
}
h2, .h2 {
  font-size: $font-size-h2;
  font-weight: 400;
  line-height: $line-height-base;

  @media #{$tablet-port} {
    font-size: floor($font-size-h2 * .9);
  }
}
h3, .h3 {
  font-size: $font-size-h3;
  font-weight: 700;
  line-height: $line-height-base;

  // @media #{$tablet-port} {
  //   font-size: floor($font-size-h3 * .7);
  // }
}
h4, .h4 {
  font-size: $font-size-h4;
  line-height: $line-height-base;

  // @media #{$tablet-port} {
  //   font-size: floor($font-size-h4 * .7);
  // }
}
h5, .h5 {
  font-size: $font-size-h5;
  line-height: $line-height-base;

  // @media #{$tablet-port} {
  //   font-size: floor($font-size-h5 * .7);
  // }
}
h6, .h6 {
  font-size: $font-size-h6;
  line-height: $line-height-base;

  // @media #{$tablet-port} {
  //   font-size: floor($font-size-h6 * .7);
  // }
}

// Body text
p, .p {
  margin: 0 0 $grid-vertical-step;
}
small, .small { font-size: 70%; }

// Text predefined sizes
.text-lead { font-size: $font-size-lead; }
.text-xl { font-size: $font-size-xl; }
.text-lg { font-size: $font-size-lg; }
.text-md { font-size: $font-size-md; }
.text-sm { font-size: $font-size-sm; }
.text-xs { font-size: $font-size-xs; }

// Inline links
a {
  transition: .25s;
  color: $primary;
  text-decoration: none;
  &:hover {
    color: $accent;
    text-decoration: none;
  }
  &:focus { outline: none; }
}

// Unordered / Ordered / Unstyled Lists
ol, ul {
  margin-bottom: 16px;
  padding-left: 18px;
  line-height: $line-height-base;
  li { margin-bottom: 6px; }
}
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
  i[class^='icon-'] {
    margin-right: 10px;
  }
}

// Description Lists
dl {
  dt { @extend .h6;}
  dd {
    margin-top: 7px;
    font-size: $font-size-lg;
  }

  &.with-icon {
    padding-left: 34px;
    dt { position: relative;}
    i[class*='icon'] {
      position: absolute;
      top: 50%;
      left: -30px;
      transform: translateY(-50%);
      font-size: 21px;
    }
  }
}

// Testimonials (blockquotes)
.testimonial {
  padding: $grid-vertical-step;
  box-shadow: $basic-box-shadow;
  .icon-wrap {
    position: relative;
    top: -15px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    @extend .bg-primary;

    svg {
      position: absolute;
      max-width: 10px;
      @extend %x-y-centering;
    }
  }
  .decoration {
    display: block;
    width: 14px;
    height: 2px;
  }
  .name { font-family: $font-family-headings;}
  .position { font-weight: 600;}

  &.align-right {
    text-align: right;
    .decoration,
    .icon-wrap {
      margin-right: 0;
      margin-left: auto;
    }
  }
  &.align-center {
    text-align: center;
    .decoration,
    .icon-wrap {
      margin: 0 auto;
    }
  }
}

