//-- Colors

// Text
.text-black {color: $black;}
.text-white {color: $white;}

.text-primary {color: $primary;}
.text-accent  {color: $accent;}
.text-warning {color: $warning;}
.text-success {color: $success;}

// Background
.bg-white {background-color: $white;}
.bg-black {background-color: $black;}

.bg-primary {background-color: $primary;}
.bg-warning {background-color: $warning;}
.bg-success {background-color: $success;}


//-- Borders

// Theme Colors
.border         {border: 1px solid transparent;}
.border-primary {border-color: $primary;}
.border-warning {border-color: $warning;}
.border-success {border-color: $success;}
