extends ../partials/layout

//- Override default config variables
append config
  - var isHeader = false
  - var isFooter = false
  - var pageTitle = 'Buttons'
  - var isNestedFile = true
  - var parentMenu = 'Components'

//- Page Content
block content

  .container.py-5
    h4.font-weight-bold #{pageTitle}

    .row

      .col-6
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, aspernatur? Iure a sunt necessitatibus laudantium nihil autem architecto, voluptatum repellat quos aspernatur vel fuga similique, beatae, molestiae illo earum delectus?

      .col-6
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, aspernatur? Iure a sunt necessitatibus laudantium nihil autem architecto, voluptatum repellat quos aspernatur vel fuga similique, beatae, molestiae illo earum delectus?
