extends ../partials/layout

//- Override default config variables
append config
  - var isHeader = false
  - var isFooter = false
  - var pageTitle = 'Typography'
  - var isNestedFile = true
  - var parentMenu = 'Components'

//- Page Content
block content
  .container.py-5
    .row.mb-5
      .col-sm-6
        h4 Headings
        h1.mb-4 H1. Heading
        h2.mb-4 H2. Heading
        h3.mb-4 H3. Heading
        h4.mb-4 H4. Heading
        h5.mb-4 H5. Heading
        h6.mb-4 H6. Heading
      .col-sm-6
        H4 Body
        p.text-lead
          strong
            | Lead text.
          | Sed ut perspiciatis unde omnis iste natus error sit.
        p.text-xl
          strong
            | Extra large text.
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
        p.text-lg
          strong
            | Large text.
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
        p.text-md
          strong
            | Regular text.
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
          a(href="#")
            | totam rem aperiam,
          | eaque ipsa quae ab illo inventore.
        p.text-sm
          strong
            | Small text.
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
        p.text-xs
          strong
            | Extra small text.
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.

    h4 Lists
    .row.mb-5
      .col-md-3.col-sm-6
        ul
          li Lorem ipsum dolor sit amet elit
          li Sed ut perspiciatis unde omnis
          li At vero eos et accusamus et iusto
      .col-md-3.col-sm-6
        ol
          li Lorem ipsum dolor sit amet elit
          li Sed ut perspiciatis unde omnis
          li At vero eos et accusamus et iusto
      .col-md-3.col-sm-6
        ul.list-unstyled.mb-4.mb-sm-0
          li Lorem ipsum dolor sit amet elit
          li Sed ut perspiciatis unde omnis
          li At vero eos et accusamus et iusto
      .col-md-3.col-sm-6
        ul.list-unstyled.mb-4.mb-sm-0
          li
            i.fe-icon-alert-circle.mr-2
            | Lorem ipsum dolor sit amet elit
          li
            i.fe-icon-award.mr-2
            | Sed ut perspiciatis unde omnis
          li
            i.fe-icon-box.mr-2
            | At vero eos et accusamus et iusto

    .row.mb-5
      .col-sm-6
        h4 Contextual Colors
        div.mb-2
          span.text-primary
            | Primary text. Lorem ipsum dolor sit amet, consectetur adipiscing.
        div.mb-2
          span.text-info
            | Infio text. Lorem ipsum dolor sit amet, consectetur adipiscing.
        div.mb-2
          span.text-success
            | Success text. Lorem ipsum dolor sit amet, consectetur adipiscing.
        div.mb-2
          span.text-warning
            | Warning text. Lorem ipsum dolor sit amet, consectetur adipiscing.
        div.mb-2
          span.text-danger
            | Danger text. Lorem ipsum dolor sit amet, consectetur adipiscing.
        div.mb-2
          span.text-gray
            | Gray text. Lorem ipsum dolor sit amet, consectetur adipiscing.
        div.text-white.mb-2
          span.background-dark
            | Light text. Lorem ipsum dolor sit amet, consectetur adipiscing.

      .col-sm-6
        h4 Contextual Backgrounds
        | Sed ut 
        span.bg-gray
          | perspiciatis unde omnis iste
        |  natus 
        span.bg-primary
          | error sit voluptatem
        |  accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
        span.bg-info
          | inventore veritatis et
        |  quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

    .row
      .col-sm-6
        h4.mb-5 Description Lists
        dl
          dt Ut enim ad minima veniam
          dd.text-gray
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.

        dl.mt-4
          dt Nemo enim ipsam voluptatem
          dd.text-gray
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.

      .col-sm-6
        h4.mb-5 Description Lists With Icon
        dl.with-icon
          dt
            i.fe-icon-chrome
            | Ut enim ad minima veniam
          dd.text-gray
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.

        dl.with-icon.mt-4
          dt
            i.fe-icon-box
            | Nemo enim ipsam voluptatem
          dd.text-gray
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.

    h4 Blockquotes
    .row
      .col-sm-6
        .testimonial
          .icon-wrap
            svg(viewbox='0 0 14 10', xmlns='http://www.w3.org/2000/svg')
              g(fill='none')
                path(d='M13 0h-3L8 4v6h6V4h-3l2-4zM5 0H2L0 4v6h6V4H3l2-4z', class="fill-primary")

          blockquote
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident

          .author
            span.decoration.background-primary
            .name.text-bold
              | Don Jhonson
            .position.text-gray.text-sm
              | Graphic Designer

      .col-sm-6
        .testimonial.align-right
          .icon-wrap
            svg(viewbox='0 0 14 10', xmlns='http://www.w3.org/2000/svg')
              g(fill='none')
                path(d='M13 0h-3L8 4v6h6V4h-3l2-4zM5 0H2L0 4v6h6V4H3l2-4z', class="fill-primary")

          blockquote
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident

          .author
            span.decoration.background-primary
            .name.text-bold
              | Don Jhonson
            .position.text-gray.text-sm
              | Graphic Designer

      .col-sm-6.offset-sm-3.mt-5
        .testimonial.align-center
          .icon-wrap
            svg(viewbox='0 0 14 10', xmlns='http://www.w3.org/2000/svg')
              g(fill='none')
                path(d='M13 0h-3L8 4v6h6V4h-3l2-4zM5 0H2L0 4v6h6V4H3l2-4z', class="fill-primary")

          blockquote
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident

          .author
            span.decoration.background-primary
            .name.text-bold
              | Don Jhonson
            .position.text-gray.text-sm
              | Graphic Designer