//-- Local Variables Section



//-- Default Styles Section
.site__footer {
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: $gray;
  color: $white;
}

.site__footer-title {
  padding-bottom: 10px;
  border-bottom: 2px solid #9b9b9b;
}
