//-- Local Variables Section
$header-offset-bottom: 20px !default;
$header-padding-y:     30px !default;



//-- Default Styles Section
.site__header {
  position: sticky;
  top: 0;
  margin-bottom: $header-offset-bottom;
  padding-top: $header-padding-y;
  padding-bottom: $header-padding-y;
  transition: all .35s;
  background-color: $white;
  z-index: 999;

  &.skin--light {
    padding-top: ($header-padding-y / 3);
    padding-bottom: ($header-padding-y / 3);
    background-color: rgba($white, .9);
  }
}

.header__contacts-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__contacts-list__item {
  position: relative;
  margin-bottom: 0;
  padding-right: 30px;
  padding-left: 30px;
  white-space: nowrap;

  &::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 2px;
    height: 35px;
    transform: translateY(-50%);
    background-color: $gray-lighter;
    content: '';
  }

  &:first-child {
    &::before {display: none;}
  }
}

.header__contacts-list__item-phone {font-size: 20px;}



// -- Media
@media #{$mobile-land} {

  $header-padding-y:     ($header-padding-y / 2);

  .site__header {
    padding-top: $header-padding-y;
    padding-bottom: $header-padding-y;
  }

  .header__logo {font-size: 14px;}

  .header__contacts-list__item {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;

    a {font-size: 14px;}
  }

  .header__contacts-list__item-phone {font-size: 14px;}

}
