//-- Local Variables Section



//-- Default Styles Section
.s__tarif-plan__title {margin-bottom: 120px;}

.s__tarif-plan__list {
  padding-right: 50px;
  padding-left: 50px;
}

.s__tarif-plan__list-item {
  margin-bottom: 60px;
  padding: {
    right: 3px;
    left: 3px;
  }
  transition: background-color .35s;
  background-color: transparent;

  &.is-active {

    .s__tarif-plan__list-item__bage {top: -50px;}

    .s__tarif-plan__article {background-color: $white;}

    .s__tarif-plan__article__check--submit {
      .btn {transform: translateX(-50%) rotate3d(1, 0, 0, 0deg);}
    }
  }
}

.s__tarif-plan__list-item__bage {
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100% - 7px);
  height: 60px;
  transform: translateX(-50%);
  transition: top .35s;
  border: {
    top-left-radius: 6px;
    top-right-radius: 6px;
  }
  background-color: $accent;
  color: $white;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.s__tarif-plan__article {
  position: relative;
  height: 100%;
  border: 2px solid $gray-light;
  border-radius: 6px;
  background-color: $gray-lighter;
  z-index: 9;
}

.s__tarif-plan__article__inner,
.s__tarif-plan__article__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.s__tarif-plan__article__inner {
  padding: {
    right: 6px;
    left: 6px;
  }
}

.s__tarif-plan__article__head {
  padding: {
    top: 15px;
    bottom: 15px;
  }
  text-align: center;
}

.s__tarif-plan__article__body {

}

.s__tarif-plan__article__props {
  padding-top: 15px;
  padding-left: 30px;
  border-top: 2px solid $gray-light;
  color: $gray-dark;
  list-style: none;

  > li {
    vertical-align: middle;

    &::before {
      display: inline-block;
      width: .6em;
      margin-left: -1em;
      color: $accent;
      font-size: 20px;
      line-height: 1;
      content: '\2022';
    }
  }
}

.s__tarif-plan__article__price,
.s__tarif-plan__article__check {
  padding-top: 15px;
  border-top: 2px solid $gray-light;
  text-align: center;
}

.s__tarif-plan__article__check {
  padding-bottom: 50px;

  .form-check {
    display: inline-block;
    height: 10px;
    margin-bottom: 25px;
    transform: scale(1.5);
  }
}

.s__tarif-plan__article__check--submit {
  position: relative;

  span {
    color: $gray-dark;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;

    &:hover {text-decoration: none;}
  }

  .btn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate3d(1, 0, 0, 90deg);
  }
}



// -- Media
@media #{$tablet-port} {

  .s__tarif-plan__title {margin-bottom: 50px;}

  .s__tarif-plan__list {
    padding-right: 0;
    padding-left: 0;
  }
}
