//- Page title
- var pageTitle = "GUID Test"

//- Breadcrumbs
- var breadcrumbs = []

//- Conditionals
- var isHeader = true
- var isFooter = true

//- Active menu item
- var parentMenu
- var menuTitle