// Checkout Bredcrumbs Module

.m__proceeding-checkout

  ul.m__proceeding-checkout__list.list-unstyled

    li.m__proceeding-checkout__list-item

      span.m__proceeding-checkout__list-item-caption

        i.icon.icon-clipboard

        | Choose number

    li.m__proceeding-checkout__list-item.is-active

      span.m__proceeding-checkout__list-item-caption

        i.icon.icon-file-text

        | Choose plan

    li.m__proceeding-checkout__list-item

      span.m__proceeding-checkout__list-item-caption

        i.icon.icon-user-check

        | Add users

    li.m__proceeding-checkout__list-item

      span.m__proceeding-checkout__list-item-caption

        i.icon.icon-files-empty

        | Checkout



//- //-- Local Variables Section



//- //-- Default Styles Section
//- .m__proceeding-checkout__list {
//-   display: flex;
//-   align-items: center;
//-   justify-content: center;
//- }

//- .m__proceeding-checkout__list-item {
//-   position: relative;
//-   margin-bottom: 0;
//-   margin-left: 10px;
//-   padding: 10px 10px 10px 30px;
//-   background-color: $white;

//-   &::before,
//-   &::after {
//-     position: absolute;
//-     top: 0;
//-     content: '';
//-   }

//-   &::before {
//-     left: 0;
//-     border-top: 22px solid transparent;
//-     border-bottom: 22px solid transparent;
//-     border-left: 22px solid $gray-lighter;
//-   }

//-   &::after {
//-     left: 100%;
//-     border-top: 22px solid transparent;
//-     border-bottom: 22px solid transparent;
//-     border-left: 22px solid $white;
//-     z-index: 9;
//-   }

//-   &:first-child,
//-   &:last-child {
//-     border-radius: 3px;
//-   }

//-   &:first-child {
//-     padding-left: 15px;
//-     &::before {display: none;}
//-   }

//-   &:last-child {
//-     padding-right: 15px;
//-     &::after {display: none;}
//-   }

//-   &.is-active {

//-   }
//- }
